In [2]:
import pandas as pd
import numpy as np

In [56]:
oregon = pd.read_csv("OR_quarterly_aggregation.csv")
washington = pd.read_csv("WA_Hospital_Financial_Quarterly_Aggregate_Report_20250520.csv")

In [58]:
# get the columns related to 'Expense' in both wa and or datasets
expense_cols_or = [column for column in oregon.columns if 'Expense' in column]
expense_cols_wa = [column for column in washington.columns if 'Expense' in column]

In [60]:
# add the state name for distinguishing between each when combining the datasets
oregon['State'] = 'Oregon'
washington['State'] = 'Washington'

In [64]:
# get the relevant columns for name, quarter, year, and state identification
rel_or_cols = ['State', 'Hospital Name', 'Year', 'Quarter']
rel_wa_cols = ['State', 'Hospital_Name', 'Year', 'Quarter']

In [72]:
# combine the wanted columns for both datasets
wanted_or_cols = rel_or_cols + expense_cols_or
wanted_wa_cols = rel_wa_cols + expense_cols_wa

In [74]:
# create a new dataframe with the wanted columns
df_or = oregon[wanted_or_cols] 
df_wa = washington[wanted_wa_cols]

In [90]:
df_wa.columns, len(df_wa.columns)

(Index(['State', 'Hospital_Name', 'Year', 'Quarter',
        'Employee_Benefit_Expenses', 'Supply_Expenses', 'Depreciation_Expense',
        'Interest_Expenses', 'Professional_Fee_Expense', 'All_Other_Expenses',
        'Total_Operating_Expenses'],
       dtype='object'),
 11)

In [92]:
df_or.columns, len(df_or.columns)

(Index(['State', 'Hospital Name', 'Year', 'Quarter', 'Benefit Expense',
        'Supply Expense', 'Depreciation Expense', 'Interest Expense',
        'Other Expense', 'Total Operating Expense', 'Non Operating Expense'],
       dtype='object'),
 11)

In [94]:
# change the oregon column names to match those of washington 
or_to_wa_mapping = {
    'State': 'State',
    'Hospital Name': 'Hospital_Name',
    'Year': 'Year',
    'Quarter': 'Quarter',
    'Benefit Expense': 'Employee_Benefit_Expenses',
    'Supply Expense': 'Supply_Expenses',
    'Depreciation Expense': 'Depreciation_Expense',
    'Interest Expense': 'Interest_Expenses',
    'Other Expense': 'All_Other_Expenses',
    'Total Operating Expense': 'Total_Operating_Expenses',
    'Non Operating Expense': 'Professional_Fee_Expense'
}

df_or = df_or.rename(columns=or_to_wa_mapping)

In [102]:
# combine or and wa since their column names match now
df = pd.concat([df_wa, df_or], ignore_index=True)

In [104]:
df.head()

,State,Hospital_Name,Year,Quarter,Employee_Benefit_Expenses,Supply_Expenses,Depreciation_Expense,Interest_Expenses,Professional_Fee_Expense,All_Other_Expenses,Total_Operating_Expenses
0,Washington,Shriners Hospitals for Children - Spokane,2019,1,893913.0,676993.0,220575.0,0.0,NaN,319776.0,5577278.0
1,Washington,South Sound Behavioral Hospital,2019,4,299272.0,103542.0,158169.0,0.0,NaN,977846.0,3367274.0
2,Washington,Shriners Hospitals for Children - Spokane,2021,4,1112987.0,883997.0,428545.0,0.0,NaN,822974.0,5818219.0
3,Washington,Public Hospital District No 1 of Mason County WA,2018,1,3812319.0,2756277.0,1697822.0,227712.0,NaN,4335251.0,24997812.0
4,Washington,Whitman Hospital & Medical Clinics,2018,1,901743.0,715585.0,794131.0,93474.0,NaN,1795317.0,7145217.0